.input-container {
  width: 18%;
  margin: 50px auto;
  border: 1px solid #e5e5e5;
}

.input-container input[type="file"] {
  cursor: pointer;
}

.input-container input[type="file"]::file-selector-button {
  border: 0px;
  color: #000;
  transition: 0.5s;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
}

.input-container input[type="file"]::file-selector-button:hover {
  border: 0px;
  background-color: #eee;
  border-right: 1px solid #e5e5e5;
}

/*--------------- Responsive */

@media screen and (max-width: 1120px) {
  .input-container {
    width: 20%;
  }
}

@media screen and (max-width: 960px) {
  .input-container {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .input-container {
    width: 64%;
  }
}
